<template>
    <div class='<%= data.componentName %>'></div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
export default defineComponent({
    name: '<%= data.componentName %>',
});
</script>

<style scoped>
.<%= data.componentName %>{
    
}
</style>
